/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


.modal-wrapper {
  position: absolute;
  top: 0;
  background-color: #c5c3c3c9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  height: 400px;
  /* position: relative; */
  position: absolute;
  top: calc(100vh - 200px);
  left: calc(100vw - 200px);
}